<div class="comments mb-5">
  <h4 class="my-3 p-4 text-white bg-dark">Product Questions & Answers</h4>
  <hr>

  <p>
    <%= @product.comments.count %> Questions Asked...</p>
  <%= render @product.comments %>

  <hr>
  <p class="lead">Ask a Question:</p>
  <%= render 'comments/form' %>
</div>
